* {
  box-sizing: border-box;
  /* border: 1px solid black; */
}
.contactform {
  margin-bottom: 50px;
}
.information {
  width: 50%;
  /* background-color: red; */
}
.container {
  /* background-color: green; */
  /* width: 100vw; */
  /* height: 100vh; */
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  /* height: 85vh; */
}
.content {
  /* background-color: orange; */
  width: 100%;
}
.topic {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #4e5150;
}
.contact-topic,
.shopaddress-topic {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}
.contact-info,
.shopaddress-info {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #4f4f4f;
}
.material-icons{
  position: absolute;
  color: #828282;
  width: 50px;
  text-align: center;
  height: 60px;
  font-size: 30px;
  padding-top: 13px;
}
#email,#phone,#fullname,#address,#city,#country,#postalcode{
  padding-left: 50px;
}
#public,#post{
  padding-top: 10px;
}
input[type="email"],
[type="text"],
select{
  border: 1px solid #828282;
  width: 100%;
  height: 60px;
  border-radius: 12px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}
#postalcode {
  border: 1px solid #828282;
  width: 100%;
  height: 50px;
  border-radius: 12px;
}
#country {
  border: 1px solid #828282;
  width: 100%;
  height: 50px;
  border-radius: 12px;
}
.buttonstyle {
  width: 166px;
  height: 54px;
  background: #f2994a;
  border-radius: 12px;
  border: 0;
}
.textbut {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
.country-info {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: grey;
}
.button {
  margin-top: 30px;
  text-align: right;
}
.two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5%;
}
.order {
  width: 383px;
  height: 600px;
  background: #f2f2f2;
  border-radius: 12px;
  margin-top: 0;
  padding: 25px;
  /* display: flex;
  flex-direction: column; */
}
.product-image > img {
  height: 160px;
  width: 160px;
  border-radius: 12px;
  margin-bottom: 50px;
  grid-area: product-image;
  margin-top: 10px;
}
.product-name {
  float: left;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #4e5150;
}
.price {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #f2994a;
}
.old-price {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-decoration-line: line-through;
  color: #4e5150;
}
.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* background-color:green; */
  width: 100%;
  row-gap: 5px;
  justify-items: center;
  grid-template-areas: "product-image", "detail";
}
.detail {
  width: 90%;
}
.sum {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}
.total {
  float: right;
}
.shipping,
.total-money {
  border-top: 1px solid #bdbdbd;
}
.save-address {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #4f4f4f;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border-radius: 12px;
}
input[value="Rodney Cotton"] {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}
.topic {
  margin-left: 15%;
}
.contact-topic,
.shopaddress-topic {
  margin-top: 0;
}
.credit {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #bdbdbd;
}
.username{
  font-family: "Montserrat";
  font-style: bold;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #bdbdbd;
}
.credit{
  padding-top: 7%;
}
@media (max-width: 1110px) {
  .information {
    width: 100%;
    min-width: 375px;
  }
  .contact-topic {
    margin-top: 10%;
  }
  .order {
    width: 100%;
    min-width: 375px;
  }
  .basket {
    width: 100%;
  }
  .product-image {
    margin: 0;
  }
  .product {
    width: 100%;
  }
  .credit{
    padding-top: 10px;
    min-width: 375px;
    text-align: center;
    width: 100%;
  }
  ::placeholder {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }
}
